.admin_banner {
    background-color: cadetblue;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.admin_banner p {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.inline_p {
    display: inline;
}

.bottom_20 {
    margin-bottom: 20px;
}

.top_20 {
    margin-top: 20px;
}

.top_40 {
    margin-top: 40px;
}

.admin_can_func_td {
    text-align: right;
}

#admin_can_all_error {
    display: none;
}

.sort_control {
    float: right;
}